body {
  font-family: "Prompt", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg: #d6d6d6;
  --text: #222;
  --card: #cdcdcd;
}

body.dark {
  --bg: #1e1e1e;
  --text: #d7d7d7;
  --card: #2c2c2c;
}


#theme-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  background: var(--card);
  color: var(--text);
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

#theme-toggle:hover {
  transform: scale(1.1);
}


header, section, footer {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
}

.project {
  background: var(--card);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a {
  color: #0077ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.skills-grid div {
  background: #59718b;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  border: 3px solid var(--text);
}

